<%= render 'layouts/header' %>

<h1>Editing Internal Note</h1>

<%= render 'form', internal_note: @internal_note %>

<%= link_to 'Show', @internal_note %> |
<%= link_to 'Back', internal_notes_path %>
