<div class="container-fluid h-100 main loginwrapper">
  <%= render 'layouts/header' %>
    <div class="row align-items-center h100">
        <div class="col-sm-12 mx-auto user-table">
          <h1 style="text-align:center; font-size:75px;">Discussion</h1>




        <div style="text-align:center;">
              <textarea name="text" cols="25" rows="3" placeholder="Add to the discussion here!">
                Add to the discussion here!
              </textarea>
        </div>
        <div style="text-align:center;">
          <input type="submit" value="Submit">
        </div>
      </div>
    </div>
</div>
<%= render 'layouts/footer' %>
