<div class="h-100 main loginwrapper">


    <div class="row align-items-center h100">
        <div class="col-sm-12 mx-auto user-table">
          <div class="row">
              <div class="col home-left">
                <div class="container" style="margin-top: 80px;color:#fff;">
                <center class="home-left-content">
                  <h2>Do You Need Technical Support</h2>
                  <p>Whether you need a private office with hundreds of square feet or just a chair and a desk, we have it. More than just beautiful workspaces—we’re a community combining our collective talents to create more success with belief in:</p>
                  <button>Learn More</button>
                </center>
               </div>
              </div>
              <div class="col home-right">
                  <div class="container" style="margin-top: 80px;color:#fff;">
                  <center class="home-left-content">
                    <h2>Do You Need Technical Support</h2>
                    <p>Whether you need a private office with hundreds of square feet or just a chair and a desk, we have it. More than just beautiful workspaces—we’re a community combining our collective talents to create more success with belief in:</p>
                    <button>Learn More</button>
                  </center>
                 </div>
                </div>
              </div>
            
         </div>
    </div>
</div>
