<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">

      <canvas id="myChart" width="400" height="300"></canvas>
<%= @tickets.group_by_day(:date_requested).count %>
      <script>

  var d = new Date();
  var weekday = new Array(7);
  weekday[-6] = "Friday";
  weekday[-5] = "Thursday";
  weekday[-4] = "Wednesday";
  weekday[-3] = "Thursday";
  weekday[-2] = "Friday";
  weekday[-1] = "Saturday";
  weekday[0] = "Sunday";
  weekday[1] = "Monday";
  weekday[2] = "Tuesday";
  weekday[3] = "Wednesday";
  weekday[4] = "Thursday";
  weekday[5] = "Friday";
  weekday[6] = "Saturday";

  var n = weekday[d.getDay()];
  var n1 = weekday[d.getDay()-1];
  var n2 = weekday[d.getDay()-2];
  var n3 = weekday[d.getDay()-3];
  var n4 = weekday[d.getDay()-4];
  var n5 = weekday[d.getDay()-5];
  var n6 = weekday[d.getDay()-6];

var count = <%= @tickets.count %>;

  var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
    dd = '0'+dd
}
if(mm<10) {
    mm = '0'+mm
}
var day_n = dd - 1
var dayn_1 = dd - 2
var dayn_2 = dd - 3
var dayn_3 = dd - 4
var dayn_4 = dd - 5
var dayn_5 = dd - 6

var all_tickets = <%= @tickets.count %>;

      var ctx = document.getElementById("myChart").getContext('2d');

      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [n6, n5, n4, n3, n2, n1, n],
              datasets: [{
                  label: '# of tickets in the last 7 days',
                  data: [12, 19, 3, 5, 2, 3,2],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
      </script>
    </div>
    <div class="col-md-6">
      <canvas id="myChart2" width="400" height="300"></canvas>
      <script>
      var ctx = document.getElementById("myChart2").getContext('2d');
      var myChart2 = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
              datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
      </script>
    </div>
  </div>
    </div>
