<div class="h-100 main loginwrapper">
    <div class="row align-items-center h100">
        <div class="col-sm-12 mx-auto user-table">
          <div class="container">
<h1>Editing Ticket</h1>

<%= render 'form', ticket: @ticket %>

<!--<%= link_to 'Show', @ticket %> |-->
<%= link_to '<<Back', tickets_path %>
</div>
</div>
</div>
</div>
