



.navigation ul {
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px;
  font-family: arial;
  border-bottom: 3px solid #99cc00;
  border-top: 3px solid #99cc00;
  background: #ffffff;
}

.navigation li {
  margin: 20px;
  padding: 10px;
  font-weight: 10;
  letter-spacing: 2px;
  list-style-type: none;
}

// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
